/*Título*/
.produtos-titulo{
    font-size: 40px;
    font-weight: bold;
    color: rgb(78,8,116);
    font-family: cursive;
    list-style: none;
}
.produtos-titulo li:before{
    content: "🍯";
}