body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilização do HEADER*/
header {
    background-color: rgb(255, 174, 0);
}

/* ESTILIZAÇÃO DE TITULOS */
.titulos {
    text-align: center;
    color: navy;
}

/*Estilização do LOGO*/
.logo {
    width: 25%;
    padding: 10px 0 20px 3%
        /*padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 20px;*/
}

/*Estilização da Imagem 1*/
.imagem1 {
    width: 100%;
    height: 35%;
    object-fit: cover;
    margin: 0;
}

/*Estilização do MENU*/
nav {
    color: white;
    position: absolute;
    top: 10%;
    right: 5%;
    font-size: 30px;
    font-family: cursive;
}

/*nav em li*/
nav li {
    display: inline;
    margin-right: 40px;
}

.divHeader {
    position: relative;
}

/* Estilização da Sessão SOBRE NÓS */
.sobre_nos {
    width: 60%;
    text-align: justify;
    line-height: 1.5;
    /* espaçamento entre linhas */
    margin-left: 20%;
    font-family: cursive;
}

.img_sobre_nos {
    width: 40%;
    float: left;
    margin-right: 20px;
    /* distanciando a imagem do texto */
}

.titulo_sobre_nos {
    clear: left;
}

/* ESTILIZAÇÃO DA SESSÃO NOSSO ESTABELECIMENTO */
.mapa{
    text-align: center; 
    background: linear-gradient(#FFFFFF, #f1e0d4);
}

/* Estilização da Sessão NOSSOS PRODUTOS */
.nossos_produtos {
    width: 60%;
    text-align: justify;
    line-height: 1.5;
    /* espaçamento entre linhas */
    margin-left: 20%;
    font-family: cursive;
}

.div_nossos_produtos{
    width: 70%;
    margin-left: 30%;
    display: flex;
}

.img_nossos_produtos{
    width: 30%;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px #000000;
    opacity: 1;
    transition: 400ms;
}

.img_nossos_produtos:hover{
    opacity: o.5;
}

.lista_nossos_produtos{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    list-style: none;
}

.lista_nossos_produtos li{
    line-height: 2;
}

/* .lista_nossos_produtos li:before{
    content: "";
} */

/* SE SSÃO VIDEO */
.video{
    text-align: center;
    background: linear-gradient(#ffc58e, #bd835a);
}

/* ESTILIZAÇÃO DO FOOTER */
footer{
    padding: 30px 10px 10px 0;
    background: url("../img/imagem3.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-color: rgb(0, 0, 0, 0.6);
}

footer p{
    color: white;
    text-align: right;
    font-size: 20px;
}

footer a{
    color: white;
    text-decoration: none;
}

.logo_footer{
    width: 12%;
    padding-left: 85%;
}

